
body {
  font-family: "Segoe UI Light";
  text-align: center;
  color: black;
  font-size: 22px;

}

img {
  border-style: inset;
  padding-left: 20px;
  padding-top: 30px;
}

h1 {
  font-family: "Segoe UI Light";
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 20px;
  font-size: 80px;
  color: #b62f2f;
  padding-left: 12px;
}

.navbar {
  float: left;
}

h4 {
  text-align: left;
  font-family: "Segoe UI Light";
  font-size: 20px;
  padding-left: 80px;
}

i {
  color: #4d7e80;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.nav-link:hover {
  color: #e9967a;
}

.intro {
  font-family: "Montserrat Light", monospace;
  padding-left: 12px;
  font-size: 19px;
  color: #4d7e80;
}

p{
  color: #696969;
  padding-left: 240px;
  padding-right: 200px;
  font-family: "Segoe UI Light";
}

.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
  color: rgba(0, 0, 0, 0.31);
}

h2 {
  font-family: "Segoe UI Light";
  padding-top: 10px;
  padding-bottom: 10px;
}
button {
  text-align: left;

}
button:hover {
  color: #e9967a;
}
.contactInfo{
  position: fixed;
  float: bottom;
  bottom: 0px;
  padding-left: 380px;
  font-family: "Segoe UI Light";
  color: #4d7e80;
}

.form-group {
  font-family: "Segoe UI Light";
  font-size: 15px;
  padding-right: 300px;
  padding-left: 400px;
  border-radius: 10px;

}
label {
  text-align: left;
}
input {
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
}


#image img {
  height: 200px;
  margin-top: 60px;
}

a {

  font-family: "Segoe UI Light";
  color: rgba(52, 58, 64, 0.81);
}