
.typewrite {
    padding-right: 7em;
}

body {
    font-family: "Segoe UI Light";
    text-align: center;
    font-size: 22px;
    position: relative;

}

.v1 {
    border-left: 7.5em solid #99d1d1;
    border-radius: .5em;
    height: 13em;
    margin-top: 2em;
    margin-left: .4em;
    float: left;
}


.container {
    position: sticky;
}

h1 {
    font-family: "Segoe UI Light";
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
    color: white;
    background-color: #778899;
    padding-left: .3em;
    padding-top: .5em;
    padding-bottom: .5em;
    position: relative;
    margin-right: 2em;
    margin-top: .2em;
}

h3 {
    text-transform: uppercase;
    color: #778899;
    margin-left: 10em;
    margin-right: 10em;
    border-radius: .1em;
    padding-bottom: .1em;
    padding-top: .2em;
    border-bottom-color: #778899;
    border-bottom-style: solid;

}

.intronametop {
    text-align: center;
    font-weight: bold;
    margin-right: 50px;
    color: darksalmon;

}


.navbar {
    float: left;
    background-color: #f0f5f5;
    margin-top: -1.1em;
    margin-left: 1em;
}


li {
    color: white;
    font-size: 25px;

}

i {
    color: darksalmon;
}

hr {
    display: block;
    height: .5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top: .5em;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
}

.nav-link:hover {
    color: #e9967a;
}

.nav-link {
    color: #778899;
    font-weight: 200;
    text-transform: uppercase;
}

.intro {
    font-family: "Montserrat Light", monospace;
    padding-left: 12px;
    font-size: 19px;
    color: white;
    background-color: #B0C4DE;
}

p {
    color: black;
    font-size: 20px;
    padding-left: 13em;
    padding-right: 10em;
    text-align: left;
    font-family: "Segoe UI Light";
}

h2 {
    font-family: "Segoe UI Light";
    padding-top: .7em;
    margin-right: 4em;
    font-weight: bold;
    font-size: 35px;
    color: darksalmon;
}

.powr-contact-form {
    margin-bottom: 2em;
    margin-left: 5em;

}

button {
    text-align: right;
}

.btn btn-outline-info btn-lg {
    border-color: darksalmon;
}

button:hover {
    color: #e9967a;
}

.contactInfo {

    float: bottom;
    bottom: 0em;
    text-align: left;
    padding-left: .4em;
    font-family: "Segoe UI Light";
    color: #778899;
    margin-right: 15em;

    color: #778899;
    border-radius: .3em;
    padding-bottom: .2em;
    padding-top: .2em;
    border-bottom-color: #778899;
    border-bottom-style: solid;
}

.contactInfoProjects {

    float: bottom;
    bottom: 0em;
    text-align: left;
    padding-left: .4em;
    font-family: "Segoe UI Light";
    color: #778899;
    margin-right: 15em;

    color: #778899;
    border-radius: .3em;
    padding-bottom: .2em;
    padding-top: .2em;
    border-bottom-color: #778899;
    border-bottom-style: solid;


    position: fixed;

}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: .3em;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: darksalmon;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container_left {
    margin-left: 4em;
    color: black;
    font-family: "Segoe UI Light";


}

.timelinelabel {
    text-decoration: underline;
}

.kumonlabel, .sofiaclabel, .ciscolabel, .cyberpatriotlabel {
    font-weight: bold;
    text-transform: uppercase;
}

.container_right {
    margin-left: 15em;

    margin-right: 4em;
    color: black;
    font-family: "Segoe UI Light";
}

.cisco {
    font-size: 15px;
    margin-left: 250px;
    margin-right: 100px;
    text-align: left;
    word-wrap: break-word;
}

.sofiac, .cyberpatriot {
    font-size: 15px;
    text-align: left;
    margin-right: 570px;
    margin-left: 155px;
    word-wrap: break-word;
}

.fas fa-code fa-2x {
    margin-right: 100px;
    float: right;
    color: darksalmon;
}

.form-group {
    font-family: "Segoe UI Light";
    font-size: 15px;
    padding-right: 100px;
    padding-left: 350px;
    border-radius: 10px;
}

label {
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    color: #778899;
    border-radius: 3px;
    padding-bottom: 7px;
    padding-top: 7px;
    border-bottom-color: #778899;
    border-bottom-style: solid;
}

input {
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 5px;
}

img {
    display: flex;
    position: static;
    float: left;
    width: 7.35em;
    height: 16.3em;
    overflow: auto;
    border: .3em solid #f0f5f5;
    border-bottom: 5em solid #f0f5f5;

    margin-top: 12em;
    margin-left: -7.35em;

}

a {
    font-family: "Segoe UI Light";
    color: rgba(52, 58, 64, 0.81);
}