
body {
  font-family: "Segoe UI Light";
  text-align: center;

  font-size: 22px;
  position: relative;
  background-image: url("https://img.freepik.com/free-vector/abstract-paper-hexagon-white-background_51543-7.jpg?size=626&ext=jpg");
  <!--height: 100%;-->

  background-position: center;
  backdrop-filter: blur(3px);
}


.container {
  position: relative;
}


.amina {
  float: left;
  border-radius: 20%;
  padding-left: 20px;
  padding-top: 30px;
}

h1 {
  font-family: "Segoe UI Light";
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  color: white;
  background-color: #4d7e80;
  padding-left: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  margin-right: 50px;
  margin-top: 20px;
}
.btn btn-outline-info btn-lg {

  color: #B0C4DE;
  border-color: #B0C4DE;
}
.navbar {
  float: left;
  background-color: #B0C4DE;
  margin-top: -30px;
  margin-left: 10px;
  padding-bottom: 50px;
}

li {
  color: white;
  font-size: 30px;

}

i {
  color: white;
}

hr {
  display: block;
  height: .5px;
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: .5em;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
}

.nav-link:hover {
  color: #e9967a;
}

.nav-link{
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}

.intro {
  font-family: "Montserrat Light", monospace;
  padding-left: 12px;
  font-size: 19px;
  color: white;
  background-color: #B0C4DE;
}

p{
  color: black;
  padding-left: 260px;
  padding-right: 200px;
  text-align: left;
  font-family: "Segoe UI Light";
}

h2 {
  font-family: "Segoe UI Light";
  padding-top: 10px;
  padding-bottom: 10px;
}
button {
  text-align: right;
}

button:hover {
  color: #e9967a;
}

.contactInfo{
  position: fixed;
  float: bottom;
  bottom: 0px;
  text-align: left;
  font-family: "Segoe UI Light";
  color: white;
  background-color: #4d7e80;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 300px;
}

.form-group {
  font-family: "Segoe UI Light";
  font-size: 15px;
  padding-right: 300px;
  padding-left: 400px;
  border-radius: 10px;
}

label {
  text-align: left;
}

input {
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 5px;
}

#image img {
  height: 200px;
  margin-top: 60px;
}

a {
  font-family: "Segoe UI Light";
  color: rgba(52, 58, 64, 0.81);
}