<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body >
<div class="container">
<!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
<!-- Check out more components here: http://getbootstrap.com/components/ -->
<div class="page-header">
    <h1 align="left">ABOUT ME</h1>

</div>

<% include ../helpers/navBar %>
<img src="/images/IMG_0138.jpg" alt="Image of Amina" height="345" width="235" align="left" class="amina">
<p>Description</p>
<p>Skills</p>
<p>Experinces</p>
<p>Download my resume here...</p>
<p>Make sure to include lots of appealing modern style pictures</p>

<p class="contactInfo">
    <i class="fas fa-envelope" ></i> aminaelashry2@gmail.com |
    <i class="fas fa-phone" ></i> 443-883-9087 |
    <a href="https://github.com/aelashry33"><i class="fab fa-github" ></i></a> |
    <a href="http://www.linkedin.com/in/amina-el-ashry"><i class="fab fa-linkedin" ></i></a>
</p>
</div>
</body>

</html>