<html lang="en">

<head>
    <% include ../helpers/head %>
</head>


<body>
<div class="container">
    <div class="v1"></div>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">

        <h1 align="left">about me</h1>

    </div>
    <% include ../helpers/navBar %>
    <p class="intronametop">Always looking for more opportunities to gain experience, so please feel free to reach out at the contact page!</p>


    <h3> Work Experience</h3><br>
    <div class="timeline">
        <div class="container_right">
            <p class="ciscolabel"> Google CSSI <br> summer '20</p>
            <div class="cisco">
                <div class="timelinelabel">COMPUTER SCIENCE SUMMER INSTITUTE SCHOLAR</div><br>
                Highly selective CS program facilitated by Google engineers.
            </div>
        </div>
        <div class="container_left">
            <p class="sofiaclabel">Sofiac<br>Sept '19 - Apr '20</p>
            <div class="sofiac">
                <div class="timelinelabel">SOFTWARE DEVELOPMENT INTERN</div><br>
                Installed Fedora Linux on laptop as working environment day to day using the
                command line to SCP and SSH access servers. Worked on configuration Management using Git.<br><br>
                Installed Apache HTTPD locally to test PHP based websites while changing
                PHP, HTML, CSS, and MySQL/MariaDB.
                Developed with React.js and received introduction to front end development at the
                beginner level.
            </div>
        </div>
        <div class="container_right">
            <p class="ciscolabel">Cisco Extern<br> summer '19</p>
            <div class="cisco">
                <div class="timelinelabel">STEM PROGRAM EXTERN</div><br>
                Studied basic principles related to networking, route switching, communication,
                and SD-WAN.<br><br>
                Designed framework for a more sustainable, efficient alternative to the
                construction of public schools with heavy emphasis on incorporating Cisco
                technology. Presented to Senior VP of US Commercial Sales and Cisco employees.
            </div>
        </div>
        <div class="container_left">
            <p class="cyberpatriotlabel">Cyber Patriot<br> aug '15-may '19</p>
            <div class="cyberpatriot">
                <div class="timelinelabel">COMPETITION TEAM LEADER</div> <br>
                National Youth Cyber Education Program created by the Air Force Association
                (AFA).<br><br>
                Utilized information learned about cybersecurity hacks to find
                breaches/vulnerabilities and guided team to success in CTFs.
            </div>
        </div>
    </div>

    <br><br>
    <h3> Skills </h3><br>
    <p>
        <i class="fas fa-code fa-2x"></i> C++, HTML, CSS, Java <br><br>
        <i class="fab fa-fedora fa-2x"></i> Experience with Fedora<br><br>
        <i class="fas fa-code-branch fa-2x"></i> Familiarity with Git revision control<br><br><br>
    </p>





    <p class="contactInfo" align="left">
        <i class="fas fa-envelope" align="left"></i> aminaelashry2@gmail.com |
        <i class="fas fa-phone" align="left"></i> 443-883-9087 |
        <a href="https://github.com/aelashry33"><i class="fab fa-github" align="left"></i></a> |
        <a href="http://www.linkedin.com/in/amina-el-ashry"><i class="fab fa-linkedin" align="left"></i></a>
    </p>

</div>
</body>

</html>