<html lang="en">
<head>
    <% include ../helpers/head %>
</head>


<!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
<!-- Check out more components here: http://getbootstrap.com/components/ -->
<div class="page-header">

    <h1>Contact Me</h1>
    <% include ../helpers/navBar %>
</div>

<p>
    <i class="fas fa-envelope" ></i> <h4> Email: aminaelashry2@gmail.com </h4><br>
<i class="fas fa-phone" ></i> <h4>(443)-883-9087 </h4><br>
<i class="fas fa-code" ></i>  <h4>GitHub: @aelashry33 </h4><br>
<i class="fab fa-linkedin" ><a href=""></i>  <h4>LinkedIn </h4></a><br>

</p>


</body>

</html>