<html lang="en">

<head>
    <% include ../helpers/head %>
</head>
<div class="page-header">
    <h1 align="left">Google CSSI</h1>

</div>
<% include ../helpers/navBar %>

<body>
<div class="container">

    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <img src="/images/cssi_project_display.png" class="cssi_image">
        
    <p> Developed an Audio Visualizer as a group capstone project using p5.js's sound library, 
        HTML and CSS. I was in charge of designing and implementing the GUI and the various 
        sound effect buttons. View the capstone and other CSSI projects 
        <a href="https://p5adventures.glitch.me/" id="cssi_redirection">here!</a>
    </p><br><br>
    

</div>

</body>
<div class="contactInfoPro">
    <i class="fas fa-envelope" align="left"></i> aminaelashry[at]umbc[dot]edu |

    <a href="https://github.com/aelashry33"><i class="fab fa-github" align="left"></i></a> |
    <a href="http://www.linkedin.com/in/amina-el-ashry"><i class="fab fa-linkedin" align="left"></i></a>
</div>
</html>