<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
  
    <h1>Amina El-Ashry</h1>
    <% include ../helpers/navBar %>

  </div>

  <img src="/images/IMG_0138.jpg" alt="Image of Amina" height="345" width="235" align="left" border="">
  <p>hellooo</p>

</body>

</html>