<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
<div class="container">

    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->

    <div class="page-header">

        <h1 align="left">Amina El-Ashry</h1>
        <!--    /*<p class=" intro" align="left"> COMPUTER SCIENCE STUDENT AT THE UNIVERSITY OF MARYLAND</p>*/-->


    </div>
    <% include ../helpers/navBar %>


    <br><p class="introname">A YOUNG MUSLIM EGYPTIAN WOMAN, WITH A PASSION FOR DEVELOPING AND PROBLEM SOLVING.<br><br>

    </p>

    <h3> About Me</h3>
    <img src="/images/unnamed.jpg" alt="Image of Amina" height="345" width="235" class="amina"><br>
    <p>
        I am an incoming freshman at the University of Maryland College Park, studying computer science with a concentration in data science.
    </p>

    <br><br><br><br><br><br><br><br><!-- remove these breaks later-->
    <h3> Work Experience</h3><br>
    <div class="timeline">
        <div class="container_right">
            <p class="kumonlabel">Kumon</p>
            <div class="kumon">
                Worked one on one and taught children ages 3-15 essential math and reading
                skills through Kumon worksheets
                Organized packets for students and maintained their worksheet records, met with
                parents to discuss progress.
            </div>
        </div>
        <div class="container_left">
            <p class="sofiaclabel">Sofiac <br>
            <div class="sofiac">
                Installed Fedora Linux on laptop as working environment day to day using the
                command line to SCP and SSH access servers
                Configuration Management using Git
                Installed Apache HTTPD locally to test PHP based websites while changing both
                PHP, HTML, CSS, and MySQL/MariaDB
                Developed with React.js and received introduction to front end development at the
                beginner level
            </div>
        </div>
        <div class="container_right">
            <p class="ciscolabel">Cisco</p>
            <div class="cisco">
                Studied basic principles related to networking, route switching, communication,
                and SD-WAN
                Designed framework for a more sustainable, efficient alternative to the
                construction of public schools with heavy emphasis on incorporating Cisco
                technology. Presented to Senior VP of US Commercial Sales and Cisco employees.
            </div>
        </div>
        <div class="container_left">
            <p class="cyberpatriotlabel">Cyber Patriot</p>
            <div class="cyberpatriot">
                National Youth Cyber Education Program created by the Air Force Association
                (AFA)
                Utilized information learned about cybersecurity hacks to find
                breaches/vulnerabilities and guided team to success in CTFs.

            </div>
        </div>
    </div><br>
    <h3> Skills </h3><br><br><br><br>

    <p>Always looking for more learning opportunities, so please reach out at the Contact page!</p>
    <!--<a class="btn btn-outline-info btn-lg" href="/projects" role="button">Projects</a>
    <a class="btn btn-outline-info btn-lg" href="/contact" role="button">Contact</a><br><br>-->

    <p class="contactInfo" align="left">
        <i class="fas fa-envelope" align="left"></i> aminaelashry2@gmail.com |
        <i class="fas fa-phone" align="left"></i> 443-883-9087 |
        <a href="https://github.com/aelashry33"><i class="fab fa-github" align="left"></i></a> |
        <a href="http://www.linkedin.com/in/amina-el-ashry"><i class="fab fa-linkedin" align="left"></i></a>
    </p>
</div>
</body>

</html>