<!DOCTYPE html>
<html lang="en">


<head>
    <% include ../helpers/head %>

</head>

<div class="page-header">

    <% include ../pages/animation %>

</div>
<% include ../helpers/navBar %>
<img src="/images/amina.JPG" class="amina_img" >

<div class="container">
<body>




    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->


    <div class="intronametop">A YOUNG MUSLIM EGYPTIAN AMERICAN WOMAN, HERE TO MAKE AN IMPACT.<br><br></div>



    <p>

        I am a driven and motivated freshman at the University of Maryland, Baltimore County (UMBC), studying computer
        science with a minor in psychology. I am very interested in Human Computer Interaction (HCI), software engineering, 
        and the intersection between technology and culture. 
        
        <br><br> My ultimate career goal is to help people recognize the impact their
        perseverance and
        strength can have on the world through the power of technology.
        I am hungry for not only for knowledge, but also for opportunities to become involved in the field in order to
        innovate, change,
        and provide effective solutions through my work. I am very excited to begin my journey, and
        positive that I will enjoy
        every step of the way.
        <br><br>I enjoy running, traveling with family, and embroidery in my free time.<br><br>
        <b>Please explore my website to learn more about me and my professional work!</b> <br>

        <br><br><br><br>
    </p>
</body>

</div>

<div class="contactInfo" align="left">
    <i class="fas fa-envelope" align="left"></i> aminaelashry[at]umbc[dot]edu |

    <a href="https://github.com/aelashry33"><i class="fab fa-github" align="left"></i></a> |
    <a href="http://www.linkedin.com/in/amina-el-ashry"><i class="fab fa-linkedin" align="left"></i></a>
</div>
</html>