<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body class="border border-secondary">
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->

  <div class="page-header">
  
    <h1 align="left">AminaEl-Ashry{</h1>
    <p class=" intro" align="left"> Computer Science student at UMD(inshallah)</p>


  </div>
  <% include ../helpers/navBar %>

  <p>quick intro</p>
  <p>direct user to rest of website</p>

 <p class="contactInfo">
     <i class="fas fa-envelope" ></i> aminaelashry2@gmail.com |
     <i class="fas fa-phone" ></i> 443-883-9087 |
     <a href="https://github.com/aelashry33"><i class="fab fa-github" ></i></a> |
     <a href="http://www.linkedin.com/in/amina-el-ashry"><i class="fab fa-linkedin" ></i></a>
 </p>

</body>

</html>