<html lang="en">

<head>
    <% include ../helpers/head %>
</head>


<body>
<div class="container">

    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
        <h1 align="left">projects</h1>

    </div>
    <% include ../helpers/navBar %>
    <p> Unfortunately, there is none worth noting right now. As I progress further into my college degree, with more
        internship experience, this page will hopefully be filled with
        exciting and impactful work!<br><br> For now, please feel free to navigate to other pages on my portfolio!
    </p><br><br><br><br>

    <p class="contactInfoProjects">
        <i class="fas fa-envelope"></i> aminaelashry2@gmail.com |
        <i class="fas fa-phone"></i> 443-883-9087 |
        <a href="https://github.com/aelashry33"><i class="fab fa-github"></i></a> |
        <a href="http://www.linkedin.com/in/amina-el-ashry"><i class="fab fa-linkedin"></i></a>
    </p>
</div>
</body>

</html>