<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../helpers/head %>

</head>
<div class="page-header">
    <h1 align="left">projects</h1>

</div>
<% include ../helpers/navBar %>

<body>
<div class="container">

    <a href="cssi"><div class="intronametopProjects" >GOOGLE CSSI </div></a><br>
    <h3></h3>
    <a href="/kwk"> <div class="intronametopProjects"> KODE WITH KLOSSY</div></a><br>
    <h3></h3>



</div>

</body>
<div class="contactInfoPro" align="left">
    <i class="fas fa-envelope" align="left"></i> aminaelashry2@gmail<.>com |

    <a href="https://github.com/aelashry33"><i class="fab fa-github" align="left"></i></a> |
    <a href="http://www.linkedin.com/in/amina-el-ashry"><i class="fab fa-linkedin" align="left"></i></a>
</div>
</html>